{% extends 'base.html'%}
{% block body %}
        <div class="boxed-container">

            <header>
                <div class="top">
                    <div class="container">
                        <div class="top__left">
                            <div class="widget widget-icon-box">
                                <div class="icon-box">
                                    <i class="fa  fa-home"></i>
                                    <h4 class="icon-box__title">227 Marion Street, Columbia, SC 29201</h4>
                                    <span class="icon-box__subtitle"></span>
                                </div>
                            </div>
                        </div>
                        <div class="top__right">
                            <div class="widget widget_nav_menu">
                                <div class="menu-top-menu-container">
                                    <ul class="menu">
                                        <li class="menu-item"><a href="../asset/extras.html">Extras</a></li>
                                        <li class="menu-item"><a href="../asset/#">Buy Now</a></li>
                                        <li class="menu-item"><a href="../asset/#">Theme Documentation</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget-social-icons">
                                <a class="social-icons__link" href="../asset/#" target="_self">
                                    <i class="fa  fa-facebook"></i>
                                </a>
                                <a class="social-icons__link" href="../asset/#" target="_self">
                                    <i class="fa  fa-twitter"></i>
                                </a>
                                <a class="social-icons__link" href="../asset/#" target="_self">
                                    <i class="fa  fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end of .container -->
                </div>
                <!-- end of .top -->
                <div class="header__container">
                    <div class="container">
                        <div class="header">
                            <!-- Logo and site name -->
                            <div class="header__logo">
                                <a href="../asset/index.html">
                                    <img src="../asset/img/construction.png" alt="Bolts" srcset="../asset/img/construction.png, img/construction2x.png 2x" class="img-fluid" width="195" height="92">
                                </a>
                            </div>
                            <!-- Toggle button for Main Navigation on mobile -->
                            <button class="btn btn-dark header__navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#bolts-main-navigation">
                                <i class="fa  fa-bars  hamburger"></i>
                                <span>MENU</span>
                            </button>
                            <!-- Header navigation widget area -->
                            <div class="header__navigation-widgets">
                                <div class="widget widget_text">
                                    <div class="textwidget">
                                        <a class="btn btn-dark" href="../asset/#" target="_self">
                                            <i class="fa fa-comments"></i>
                                            Request a quote
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Main Navigation -->
                            <nav class="header__navigation collapse navbar-toggleable-md" id="bolts-main-navigation" aria-label="Main Menu">
                                <!-- Home Icon in Navigation -->
                                <a class="home-icon" href="../asset/index.html">
                                    <i class="fa fa-home"></i>
                                </a>
                                <ul class="main-navigation js-main-nav">
                                    <li class="menu-item menu-item-has-children">
                                        <a href="../asset/services.html">Services</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="../asset/general-construction.html">General Construction</a></li>
                                            <li class="menu-item"><a href="../asset/metal-buildings.html">Metal buildings</a></li>
                                            <li class="menu-item"><a href="../asset/electrical-installation.html">Electrical Installation</a></li>
                                            <li class="menu-item"><a href="../asset/design-build.html">Design Building</a></li>
                                            <li class="menu-item"><a href="../asset/engineering-and-planing.html">Engineering and Planing</a></li>
                                            <li class="menu-item"><a href="../asset/exterior-remodeling.html">Exterior remodeling</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item "><a href="../asset/our-projects.html">Our Projects</a></li>
                                    <li class="menu-item "><a href="../asset/about-us.html">About Us</a></li>
                                    <li class="menu-item "><a href="../asset/news.html">News</a></li>
                                    <li class="menu-item "><a href="../asset/contact-us.html">Contact Us</a></li>
                                </ul>
                            </nav>
                            <!-- Header widget area -->
                            <div class="header__widgets">
                                <div class="widget widget-icon-box">
                                    <div class="icon-box">
                                        <i class="fa fa-check-square"></i>
                                        <h4 class="icon-box__title">Leading Provider of</h4>
                                        <span class="icon-box__subtitle">Construction Solutions</span>
                                    </div>
                                </div>
                                <div class="widget widget-icon-box">
                                    <div class="icon-box">
                                        <i class="fa fa-clock-o"></i>
                                        <h4 class="icon-box__title">Opening Times</h4>
                                        <span class="icon-box__subtitle">Mon - Sat: 7.00 - 18:00</span>
                                    </div>
                                </div>
                                <div class="widget widget-icon-box">
                                    <div class="icon-box">
                                        <i class="fa fa-envelope"></i>
                                        <h4 class="icon-box__title">Get in touch</h4>
                                        <span class="icon-box__subtitle">info@construction.com</span>
                                    </div>
                                </div>
                                <div class="widget widget_text">
                                    <div class="textwidget">
                                        <a class="btn btn-primary btn-rounded" href="../asset/#" target="_self">
                                            <i class="fa fa-phone"></i>
                                            1-800-506-266
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of .header -->
                    </div>
                    <!-- end of .container -->
                </div>
                <!-- end of .header__container -->
            </header>

            <div class="page-header">
                <div class="container">
                    <div class="page-header__text">
                        <h1 class="page-header__title">Error 404</h1>
                    </div>
                    <div class="breadcrumbs">
                        <span>
                            <a title="Go to Bolts." href="../asset/index.html"><span>Bolts</span></a>
                        </span>
                        <span>404</span>
                    </div>
                </div>
                <!-- .container -->
            </div>

            <!-- .page-header -->
            <div class="error-404">
                <div class="container">
                    <div class="error-404__content">
                        <h2>It Looks Like Something Went Wrong</h2>
                        <p class="error-404__text">
                            Page you are looking for is not here. <br> Go <b><a href="../asset/index.html"> Home </a></b> or try to search:
                        </p>
                        <div class="widget_search">
                            <form role="search" method="get" class="search-form pos-rel" action="#">
                                <span class="screen-reader-text">Search for:</span>
                                <button type="submit" class="search-submit">
                                    <i class="fa  fa-search"></i>
                                </button>
                                <input type="search" class="form-control  search-field" placeholder="Search" value="" name="s">
                            </form>
                        </div>
                    </div>
                    <!-- end of .error-404__content -->
                </div>
                <!-- end of .container -->
            </div>
            <!-- end of .error-404 -->

            <footer class="footer">
                <!-- Footer Top -->
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-lg-4">
                                <div class="widget widget_text">
                                    <h6 class="footer-top__headings">Construction Bolts</h6>
                                    <div class="textwidget">
                                        The Bolts company has managed to earn recognition for undertaking not just small, but large and complex house building and planing. <br><br>
                                        <a class="btn btn-primary" href="../asset/#" target="_self">Get Consultation</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end of .col -->
                            <div class="col-xs-12 col-lg-2">
                                <div class="widget widget_nav_menu">
                                    <h6 class="footer-top__headings">Services</h6>
                                    <div class="menu-services-container">
                                        <ul class="menu">
                                            <li class="menu-item"><a href="../asset/services.html">All Services</a></li>
                                            <li class="menu-item"><a href="../asset/general-construction.html">General Construction</a></li>
                                            <li class="menu-item"><a href="../asset/metal-buildings.html">Metal buildings</a></li>
                                            <li class="menu-item"><a href="../asset/electrical-installation.html">Electrical Installation</a></li>
                                            <li class="menu-item"><a href="../asset/design-build.html">Design Building</a></li>
                                            <li class="menu-item"><a href="../asset/engineering-and-planing.html">Engineering and Planing</a></li>
                                            <li class="menu-item"><a href="../asset/exterior-remodeling.html">Exterior remodeling</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end of .col -->
                            <div class="col-xs-12 col-lg-2">
                                <div class="widget widget_nav_menu">
                                    <h6 class="footer-top__headings">Extras</h6>
                                    <div class="menu-extras-container">
                                        <ul class="menu">
                                            <li class="menu-item"><a href="../asset/extras.html">All Extras</a></li>
                                            <li class="menu-item"><a href="../asset/pricing-list.html">Pricing List</a></li>
                                            <li class="menu-item"><a href="../asset/brochure-box.html">Brochure Box</a></li>
                                            <li class="menu-item"><a href="../asset/accordion.html">Accordion</a></li>
                                            <li class="menu-item"><a href="../asset/skype-button.html">Skype Button</a></li>
                                            <li class="menu-item"><a href="../asset/number-counter.html">Number Counter</a></li>
                                            <li class="menu-item"><a href="../asset/#">Error 404</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end of .col -->
  {% endblock%}