<div class="col-xs-12  col-lg-3">
    <div class="sidebar">
        <div class="widget widget_search">
            <form role="search" method="get" class="search-form pos-rel" action="/search" style="margin-left: -44%;">
                <span class="screen-reader-text">Cerca:</span>
                <button type="submit" class="search-submit">
                    <i class="fa  fa-search"></i>
                </button>
                <input type="search" class="form-control search-field" placeholder="Cerca" value="" name="s" style="width: 71%;">
            </form>
        </div>
        <br style="clear:both">
        <br style="clear:both">
        <div class="widget widget_recent_entries">
            <h4 class="sidebar__headings">{{pagetitle}} Recenti</h4>
            <ul>{% set i = 0%}{% for item in news%}{% if i < 5%}{% set i = i + 1%}
                  <li><a href="/single-news?n={{item.id}}&type={{type}}">{{item.titolo |convert_encoding ('ISO-8859-1','HTML-ENTITIES') }}</a></li>
                  {% endif%}{% endfor%}

            </ul>
        </div>
        <div class="widget widget_categories">
            <h4 class="sidebar__headings">Categorie</h4>
            <ul>
                {{menu | raw }}
            </ul>
        </div>
    </div>
    <!-- end of .sidebar -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- BANNER LATERALE ADATTABILE -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4180109058245769"
     data-ad-slot="7516347112"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


</div>
<!-- end of .col -->

</div>
<!-- end of .row -->


</div>
<!-- end of .content-area -->
