<!--
                                <div class="container">
                                    <div class="textwidget">
                                        <div class="logo-panel">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4 col-lg-2">
                                                    <img class="img-fit" src="../asset/img/client_01.jpg" alt="Client logo">
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-lg-2">
                                                    <img class="img-fit" src="../asset/img/client_02.jpg" alt="Client logo">
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-lg-2">
                                                    <img class="img-fit" src="../asset/img/client_03.jpg" alt="Client logo">
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-lg-2">
                                                    <img class="img-fit" src="../asset/img/client_04.jpg" alt="Client logo">
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-lg-2">
                                                    <img class="img-fit" src="../asset/img/client_05.jpg" alt="Client logo">
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-lg-2">
                                                    <img class="img-fit" src="../asset/img/client_06.jpg" alt="Client logo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            -->
                                <!-- end of .container -->
<br>
<br>
                                          <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="textwidget" style="text-align: center;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Footer -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4180109058245769"
     data-ad-slot="4399229185"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


                            </div>
                        </div>
                    </div>
                    <!-- end of .col -->
                </div>

                    </div>
                    <!-- end of .content-area -->


  <footer class="footer">

                    <div class="footer-bottom__container">
                        <div class="container">
                            <div class="footer-bottom">
                                <div class="footer-bottom__left">
                                  © 2016 Tuttoghisa.it 
                                </div>
                                <div style="display: inline-block;">
                                    <span style="padding: 10px;margin: 0px auto">PYXIS SOCIETA' COOPERATIVA
P.IVA: 08032570726 - info@tuttoghisa.com - <a target="_blank" href="/note-legali">Note legali</a> - <a target="_blank" href="/privacy">Privacy</a> </span>
                                </div>
                                <div class="footer-bottom__right">
                                       <a href="http://www.aryma.it" target="_blank"> made in aryma</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of .footer-bottom__container -->
                    </footer>
