{%extends 'base.html'%}{%block body%}

<style type="text/css">
    
    @media (min-width: 992px) {





.portfolio-grid__header {
       float: left;
        width: 23%;
    }
.js-wpg-items {

float: right;
width: 75%;

}


}


</style>

            <div class="page-header">
                <div class="container">
                    <div class="page-header__text">
                        <h1 class="page-header__title">Linee Prodotti</h1>
                        <p class="page-header__subtitle">{{prima.clabel}}</p>
                    </div>
                    <div class="breadcrumbs">
                        <a title="home" href="/" class="home">
                            Tuttoghisa
                        </a>
                        <a title="Prodotti" href="/macrocategorie" class="home ">
                            Linee Prodotti
                        </a>
                        <span>{{prima.clabel}} </span>
                    </div>
                </div>
                <!-- end of .container -->
            </div>
            <!-- end of .page-header -->

            <div class="content-area container">

                <div class="row">

                    <main class="site-main col-xs-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="widget" id="mainList ">
                                    <div class="portfolio-grid" data-type="grid">
                                        <nav class="portfolio-grid__header">
                                                                                  
                                          <a href="#" class="portfolio-grid__mobile-filter js-filter btn btn-primary btn-sm hidden-lg-up">
                                                <span class="fa fa-filter"></span> &nbsp; FILTER
                                            </a>
                                            <ul class="portfolio-grid__nav js-wpg-nav-holder">
                                                <li class="portfolio-grid__nav-item is-active">
                                                    <a href="#widget-0-0-0-all" data-category="*" class="portfolio-grid__nav-link  js-wpg-nav">{{prima.clabel}}</a>
                                                </li>
                                              {% set i = 0 %}
                                                {% for items in categorie %}
                                                {% if i > 0%}
                                                <li class="portfolio-grid__nav-item">
                                                    <a href="#widget-0-0-0-cat-{{items.cid}}" data-category="cat-{{items.cid}}" class="portfolio-grid__nav-link  js-wpg-nav">{{items.clabel}}</a>
                                                </li>
                                                {% endif %}
                                                {% set i = 1 %}
                                                {% endfor%}
                                            </ul>

                                        </nav>
                                        <div class="js-wpg-items">
                                            <div class="row">
                                              {% for items in prodotti %}
                                                <div class="col-xs-12 col-sm-6 col-lg-3 js-wpg-item" data-categories="cat-{{items.cid}}" style="margin-top: 15px;">
                                                    <a class="card portfolio-grid__card js-wpg-card" href="/linea?l={{items.lid}}">
                                                        <img src="{{IMG_LINEE}}{{items.lid}}.jpg" class="card-img-top  portfolio-grid__card-img" alt="photo1" onerror="this.src='../asset/img/construction1.jpg'" >
                                                        <div class="card-block portfolio-grid__card-block">
                                                <h6 class="card-title  portfolio-grid__card-title">{{items.lplabel |convert_encoding ('ISO-8859-1','HTML-ENTITIES')}}</h6>
                                                
                                                            <div class="portfolio-grid__card-items" style="text-align:center;" >
                                                                <a href="/linea?l={{items.lid}}" class="portfolio-mostra-tutti">Mostra prodotti</a>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                {% endfor%}
                                              

                                                </div>
                                                <!-- end of .row -->
                                            <!-- end of .js-wpg-items -->
                                        </div>
                                    <!-- end of .portfolio-grid -->
                                </div>
                                <!-- end of .widget -->
                            </div>
                            <!-- end of .col -->
                        </div>
                        <!-- end of .row -->

                    </main>

                </div>
                <!-- end of .row -->

            </div>
            <!-- end of .content-area -->
{%endblock%}
