{%extends 'base.html'%}
{%block body%}
<div class="page-header">
  <div class="container">
    <div class="page-header__text">
      <h1 class="page-header__title">Accedi</h1>
    </div>
    <div class="breadcrumbs">
      <span>
        <a title="Go to Bolts." href="/"><span>Tuttoghisa</span></a>
      </span>
      <span>Password dimeticata</span>
    </div>
  </div>
  <!-- .container -->
</div>
<!-- .page-header -->

<div class="container">
  {% if msg_richiesta %}
  <p style="color: #fff;background-color: #0c6c47;text-align:center"><strong>Complimenti!</strong> {{msg_richiesta}}</p>
  {% endif %}
  {% if msg_nonesiste %}
  <p style="background-color:#de3030;color:white;text-align:center"><strong>Ci dispiace.</strong> {{msg_nonesiste}}</p>
  {% endif %}
	{% if cambio %}
	<p style="color: #fff;background-color: #0c6c47;text-align:center"><strong>Complimenti!</strong> {{cambio}}</p>
	{% endif %}
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-lg-3"></div>
    <div class="col-xs-6 col-sm-8 col-lg-6">
      <form class="form-horizontal" method="POST" action="/password-dimenticata">

        <div class="form-group">
          <label  class="col-sm-2 control-label lb">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" placeholder="Email" style="width:100%" required>
          </div>
        </div>
        <div class="col-sm-12 "><br></div>
            <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 ">
            <br>
            <button type="submit" class="btn btn-primary btn-rounded" style="float: right;">Cambiala ora</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-2 col-lg-3"></div>


  </div>
  <!-- end of .error-404__content -->
</div>
<!-- end of .container -->

<br>
<br>
<br>


{%endblock%}
